In [1]:
3**3 # 3 to the power of three

27

In [2]:
3 + 5 * (3 + 7) - 8 # follows the order of operation

45

In [5]:
4 % 2 # remider of a division, 
      # easy way to check if the number is an even number

0

In [6]:
# it is not allowed to start a variable name with numbers and special signs

In [7]:
num = 22
name = 'Przemek'

In [9]:
print('My age is {} and my name is {}'.format(num,name)) 
# there will be variables' values 
# put in curly bracket in given order, 
# in this case num first and name second

My age is 22 and my name is Przemek

In [11]:
print('My age is {one} and my name is {two}'.format(one=23,two='Krzys'))
# one does not have to be worried about order of variables,
# in a case before, we have to put it manually in a correct order

My age is 23 and my name is Krzys

In [12]:
s = 'abcdefghijk'

In [13]:
s[0:] # it grabs everything starting at the index 0 
      # until the end of a string

'abcdefghijk'

In [14]:
s[:3] # it grabs everything starting at the index 0 
      # until the index 3 BUT IT IS NOT INCLUDED!

'abc'

In [15]:
s[3:7] # starts at index 3(d) and ends at index 6(g), 
       # because index 7 is not included

'defg'

In [16]:
[1, 2, 3 ]

[1, 2, 3]

In [17]:
['a', 'b', 'c']

['a', 'b', 'c']

In [18]:
my_list = ['a', 'b', 'c']

In [19]:
my_list.append('d') # adds an element in the end of a list

In [20]:
my_list

['a', 'b', 'c', 'd']

In [21]:
my_list[0] = 'New element' # reassigning values to an element in a list

In [22]:
my_list

['New element', 'b', 'c', 'd']

In [26]:
nested_list = [1, 2, 3,[4, 5,[6,7,8],9 ,10], 11]
nested_list

[1, 2, 3, [4, 5, [6, 7, 8], 9, 10], 11]

In [30]:
nested_list[3][2][2]

8

In [32]:
d = {'key1':'value','kay2':123}

In [34]:
d['key1']

'value'

In [38]:
z = {'key1':[1,2,3],'key2':{'innerkey':[4,5,6]}}

In [39]:
z['key1'][1]

2

In [40]:
z['key2']['innerkey'][1]

5

In [41]:
tuple = (1, 2, 3 ) #immutable!

In [42]:
set([1,1,1,1,1,2,2,2,3,3,3,3,4,4,4,4,5,5,5,5,6,6,6,7,7,8,9,8,9,8,5,4,6,7,3,4,5,6])
# prints only unique values

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [43]:
(1 < 2 ) and ( 2 < 3)

True

In [44]:
(1 < 5) or (2 > 3 ) or (1 == 1)

True

In [47]:
if 1==2:
    print('Yes')
else:
    print('NO')

NO

In [48]:
 seq = [1,2,3,4,5]

In [50]:
for item in seq:
    print(item*2)

2
4
6
8
10

In [51]:
i = 1 
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

In [55]:
for x in range(0,5): 
    print(x)
# generator creating numbers increased by 1 from a starting number(included) 
# until the last number(not included). 
# The number of elements is the last number in range generator (in this case 5)

0
1
2
3
4

In [59]:
x = [1,2,3,4]

In [60]:
[num**2 for num in x] # list comprehension!!!

[1, 4, 9, 16]

In [67]:
def my_func(name='Default Name'): # if we do not specify the name, this will be printed
    print('Hello ' +name) #concatinate

In [68]:
my_func('Przemek')

Hello Przemek

In [69]:
my_func()

Hello Default Name

In [74]:
def square(num):
    '''
    THIS IS A LONG COMMENT BEETWEN TRIPLE STRINGS.
    IT CAN BE MULTILINE.
    EASY WAY TO COMMENT A FUNCTION.
    '''
    return num**2

In [73]:
output = square(4)
output

16

In [75]:
# if we press shift + tab, it gives us a documentation description 
# for any function f. e range

In [76]:
def times2(var):
    return var*2

In [77]:
times2(5)

10

In [78]:
# map() !!!!!!!!

In [79]:
seq = [1, 2, 3, 4, 5]

In [80]:
list(map(times2,seq)) # it takes a function and applies it to every element in a sequence, f. e list

[2, 4, 6, 8, 10]

In [81]:
# lambda !!!!!

In [83]:
# lambda(var): var*2 - we skip words that are unnecessary in a function, 
# common while using map on a sequence

In [84]:
list(map(lambda num: num*3, seq))

[3, 6, 9, 12, 15]

In [85]:
# filer() - filters out elements out elements of a sequence

In [89]:
list(filter(lambda num:num%2 == 0, seq)) 
# lambda takes a num and returns only even numbers in our sequence, 
#filter has to take a function that returns true or false value

[2, 4]

In [93]:
#string methods
s = 'Hello My name is Przemek'
s.upper() # uppercase

'HELLO MY NAME IS PRZEMEK'

In [94]:
s.lower() # lowercase

'hello my name is przemek'

In [95]:
s.split() # splits a string on all whitespaces!

['Hello', 'My', 'name', 'is', 'Przemek']

In [96]:
text = 'I love germany, es ist vonderful! I love #apfelstrudel'

In [98]:
text.split('#') # it splits a string on a particular element

['I love germany, es ist vonderful! I love ', 'apfelstrudel']

In [101]:
dictionary = {'k1': 1, 'k2': 2} #keys always as strings!

In [102]:
dictionary.keys()

dict_keys(['k1', 'k2'])

In [103]:
dictionary.values()

dict_values([1, 2])

In [117]:
list = [1,2,3,4,5]

In [118]:
list.pop() # pops the last item and returns it, it affects the original list

5

In [120]:
list.append('kupa') # adds an element at the end of a list

In [121]:
print(list)

[1, 2, 3, 4, 'kupa']

In [122]:
# tuple unpacking

In [123]:
x = [(1,2),(3,4),(5,6)]

In [126]:
for (a,b) in x:
    print(a) 
    
# prints only one element of a tuple, 
# we can put (a,b) to get both of them or the whole tuple

1
3
5